{%extends 'layout.html'%}
{% block content %}
<body>
<!--    <section class="top-section">-->
<!--        <div class="container p-1 p-sm-3">-->
<!--            <div class="col12">-->
<!--                <h2>What is RLFW?</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

    <section class="about-company-section">
        <div class="container p-1 p-sm-3">
             <div class="col12">
                    <h2>What is RLFW?</h2>
                    <hr />
                </div>
            <div class="row">

                <div class="col-md-3">
                    <img class="img-fluid" src="/static/img/placeholder 900x900.png" alt="">
                </div>

                <div class="col-md-9">
                    <p>Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit.
                        Atque, debitis dolores,
                        doloribus fugiat illo illum
                        laudantium, maxime nesciunt
                        omnis quod sapiente suscipit
                        voluptatum! Accusantium facere
                        id quasi, quo recusandae rerum!
                    </p>
                    <p>Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit.
                        Atque, debitis dolores,
                        doloribus fugiat illo illum
                        laudantium, maxime nesciunt
                        omnis quod sapiente suscipit
                        voluptatum! Accusantium facere
                        id quasi, quo recusandae rerum!
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}