{%extends 'layout.html'%}







{% block content %}
<body>
<!--    <section class="top-section">-->
<!--        <div class="container p-1 p-sm-3">-->
<!--            <div class="col12">-->
<!--                <h2>Examples</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

    <section class="examples">
        <div class="container p-1 p-sm-3">
             <div class="col12">
                    <h2>Examples</h2>
                    <hr />
                </div>
            <div class="row">
                <ul class="examples-list p-1 p-sm-3">
                    <a href="#"><li>Something1</li></a>
                    <a href="#"><li>Something2</li></a>
                    <a href="#"><li>Something3</li></a>
                    <a href="#"><li>Something4</li></a>
                </ul>
            </div>
        </div>
    </section>
</body>
{% endblock %}