{%extends 'layout.html'%}

{% block content %}
<body>
<!--    <section class="top-section">-->
<!--        <div class="container p-1 p-sm-3">-->
<!--            <div class="col12">-->
<!--                <h2>Examples</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

    <section class="example-form">
        <div class="container p-1 p-sm-3">
             <div class="col12">
                    <h2>Examples</h2>
                        <form>
                          <div class="form-group">
                            <label for="exampleFormControlSelect1">Example select</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>
                        </form>
            </div>
        </div>
    </section>
</body>
{% endblock %}