{%extends 'layout.html'%}

{% block content %}
<body>
<!--    <section class="top-section">-->
<!--        <div class="container p-1 p-sm-3">-->
<!--            <div class="col12">-->
<!--                <h2>Examples</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

    <section class="example-form">
        <div class="container p-1 p-sm-3">
             <div class="col12">
                    <h2>Examples</h2>
                    <hr />
                </div>
            <div class="row">
                <form action="" method="post">
                    <p>
                        {{form.username.label}} <br>
                        {{form.username(size=30)}}
                    </p>
                    <p>
                        {{form.password.label}} <br>
                        {{form.password(size=30)}}
                    </p>
                    <p>
                        {{form.submit()}} <br>
                    </p>
                </form>
            </div>
        </div>
    </section>
</body>
{% endblock %}