{%extends 'layout.html'%}

{% block content %}


<body>
<section class="home">
    <div class="container p-1 p-sm-3">
        <div class="col12">
            <h2>Home</h2>
            <hr/>
        </div>
<!--        <div class="row">-->
            <div class="welcome-1 p-1 p-sm-3">
                <p>
                    Welcome to RLFW!
                </p>
                <p>
                    Click on the menu items above to explore this prototype.
                </p>
                <div class="alert alert-success" role="alert">This is a bootstrap sucess message</div>
                <div class="alert alert-info" role="alert">This is a bootstrap info message</div>
                <div class="alert alert-warning" role="alert">This is a bootstrap warning message</div>
                <div class="alert alert-danger" role="alert">This is a bootstaap danger message</div>
            </div>
</section>


{% endblock %}
