{%extends 'layout.html'%}

{% block content %}

<script>
</script>

<body>
<section class="about-company-section">
    <div class="container p-1 p-sm-3">
        <div class="col12">
            <h2>Question Creator</h2>
            <hr/>
            <p>In order to create a new instance of a question type in the local triple store:</p>
            <p>1 - Name the question similarly to the existing pattern name + Question(e.g "FoodQuestion").</p>
            <p>2 - Find the wikidata entity identifier, (e.g Q38723 - <a href="https://www.wikidata.org/wiki/Q38723">higher
                education institution</a>).</p>
            <p>3 - This initial implementation goal is to list all instances of the selected entity identifier, but
                it can't predict weather the results are good or not. Filters can help.</p>
            <p>4 - Some SPARQL knowledge is required, after inserting the name and the entity identifier, you can query
                the RLWF triple-store to see if it was correctly created.</p>
            <p>5 - Some HTML knowledge is also required, the question explorer page does not support the dynamic listing
                of new questions. the elif function from line 131 to 142 in question_explorer.html needs to be
                replicated with the correct
                question values.</p>
        </div>
        <form action="" method="post">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="input_q_name">Question name*</label>
                    <input type="text" class="form-control" id="input_q_name" name="input_q_name" required="true">
                </div>
                <div class="form-group col-md-3">
                    <label for="entity_id">Entity ID*</label>
                    <input type="text" class="form-control" id="entity_id" name="entity_id" required="true">
                </div>
                <div class="form-group col-md-3">
                    <label for="filter">Filter*</label>
                    <input type="text" class="form-control" id="filter" name="filter" required="true">
                </div>
                <div class="form-group col-md-3">
                    <label for="filternotcontains">Filter not contains(Disabled)</label>
                    <input type="text" readonly class="form-control" id="filternotcontains">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="comments">Question Description*</label>
                    <input type="text" class="form-control" id="comments" name="comments" required="true">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <hr class="my-4">


    </div>


</section>


</body>

{% endblock %}