{%extends 'layout.html'%}

{% block content %}

<script>
</script>

<body>
<section class="about-company-section">
    <div class="container p-1 p-sm-3">
        <div class="col12">
            <h2>Question Creator</h2>
            <hr/>
            <p>In order to create a new instance of a question type, you need to do the Following steps</p>
            <p>1 - Name the question type, The advice is to use the name + Question(e.g "FoodQuestion")</p>
            <p>2 - Find the wikidata entity identifier, (e.g Q38723 - <a href="https://www.wikidata.org/wiki/Q38723">higher
                education institution</a>)</p>
            <p>3 - This initial implementation goal is to list all instances and sub-classes of the selected entity, but
                it can't predict weather the results are good or not. you can also add filters in the field</p>
            <p>4 - Some SPARQL knowledge is advisable, after inserting the name and the entity identifier, you can query
                the RLWF triple-store to see if it was correctly created. Otherwise contact the system administraction
                for the deletion of the wrong value</p>
        </div>
        <form action="" method="post">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="input_q_type">Question Name</label>
                    <input type="text" class="form-control" id="input_q_type">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">Entity ID</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">Filter</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">Filter Not Contains</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
        <hr class="my-4">


    </div>


</section>


</body>

{% endblock %}