{%extends 'layout.html'%}

{% block content %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<script>

    $(document).ready(function() {
    $('.country_select').select2();
});

    $(document).ready(function() {
    $('.com_select').select2();
});

    $(document).ready(function() {
    $('.uni_select').select2();
});

    $(document).ready(function() {
    $('.degree_select').select2();
});



</script>

<body>
<section class="about-company-section">
    <div class="container p-1 p-sm-3">
        <div class="col12">
            <h2>Question Explorer</h2>
            <hr/>
        </div>
        <div class="row">
            <form action="" method="post">
                <div class="form-group">
                    <label for="question_select">Select a form below</label>
                    <select class="form-control" data-width="100%" id="question_select" name="question_select"
                            value="{{question_select}}">
                        {% for x in list_of_questions %}
                        <option>{{x}}</option>
                        {% endfor %}

                        <!--                        {% if  question_select != "" %}-->
                        <!--                        <option selected="selected">{{question_select}}</option> &lt;!&ndash; maybe a bit rough but it works &ndash;&gt;-->
                        <!--                        {% endif %}-->
                    </select>
                    </br>
                    <button type="submit" class="btn btn-primary t-5">Submit</button>
                </div>
            </form>
        </div>
        <hr class="my-4">
        {% if isIndex %}

        <div class="form-group">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="question"><strong>Question Name</strong></label>
                        <input type="text" readonly class="form-control" id="question"
                               placeholder="{{question_select}}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="wdt_queryable"><strong>Wikidata Queryable</strong></label>
                        <input type="text" readonly class="form-control" id="wdt_queryable"
                               placeholder="{{wikidata_queryable}}">
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1"><strong>Question Comments</strong></label>
                            <textarea readonly class="form-control" id="exampleFormControlTextarea1" rows="3"
                                      placeholder="{{comment}}"></textarea>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        {% if question_select == "CountryQuestion" %}
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="country_answer"><strong>Countries that are queried from
                    Wikidata</strong></label>
                <select class="country_select" data-width="100%" id="country_answer"
                        name="country_answer">
                    {% for z in countries %}
                    <option>{{z}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {% elif question_select == "AcademicInformationQuestion" %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="degree_select"><strong>(Degree)</strong></label>
                <select class="degree_select" data-width="100%" id="degree_select" name="degree">
                    {% for x in degrees %}
                    <option>{{x}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="university_select"><strong>(Dutch Universities)</strong></label>

                <select class="uni_select" data-width="100%" id="university_select"
                        name="answer{{i}}">
                    {% for z in nl_universities %}
                    <option>{{z}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {% elif question_select == "CommunicationChannelQuestion" %}
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="communication_channel_select"><strong>Available social networks</strong></label>
                <select class="com_select" data-width="100%" id="communication_channel_select"
                        name="answer{{i}}">
                    {% for x in communication_channels %}
                    <option>{{x}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {% else %}

        <label for="available_answers"><strong>Available Field</strong></label>
        <input type="text" class="form-control" id="available_answers" name="available_answers"
               placeholder="">


        {% endif %}
        {% endif %}

        </form>
    </div>
    </div>


</section>


</body>

{% endblock %}